.page {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--color-background);
}

.container {
    display: flex;
    flex-direction: column;
    width: 365px;
}

.container > :nth-child(2) {
    margin-top: var(--grid-token-xl);
    margin-bottom: var(--grid-token-lg);
}

.title {
    font-size: 1.5em;
    color: var(--color-gray);
}

.title > strong {
    font-weight: 800;
}

@media (max-width: 365px) {
    .container {
        width: 100%;
        padding: var(--grid-token-md);
        box-sizing: border-box;
    }
}
